
.main{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 40px;
    align-items: flex-start;
}


.drag-panel,
.drop-panel {
  flex: 1;            /* both take equal width */
  border: 1px solid #ccc;
 justify-content: space-evenly;
  padding: 25px;
    margin: 5px;
  border-radius: 8px;
  background: #f9f9f9;
}

.layerName,
.droplayer {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
}
