.mapping-container {
  margin-top: 24px;
}

.mapping-row {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-right: 16px;
  margin-left: 16px;
}

.mapping-row select {
  flex: 1;
}

.mapping-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
